<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings1.ConStr" connectionString="Data Source=(local);Initial Catalog=AgentManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>