/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Customer_id]
      ,[Policy_name]
      ,[Policy_company]
      ,[Date_of_booking]
      ,[Sum_assured]
      ,[Payment_mode]
      ,[Login_Id]
      ,[Date_of_birth]
      ,[Height]
      ,[Weight]
      ,[Identification_mark]
      ,[Nominee_name]
      ,[Nominee_relationship]
      ,[Nominee_date_of_birth]
      ,[Contact_no]
      ,[Appointment_id]
  FROM [AgentManagement].[dbo].[Customer_Policy_Reg]